* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li, ul, ol{
  list-style-type: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.padding-10 {
  padding: 10px;
}

.border {
  border: 1px solid black;
}
