* {
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.padding-10 {
  padding: 10px;
}

.border {
  border: 1px solid black;
}

.grid-col-autofill {
  display: grid;
  /* make it auto size if screen shrinks below 800px */
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}