* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.padding-10 {
  padding: 10px;
}

.border {
  border: 1px solid black;
}

.grid-col-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-col-4 {
  display: grid;
  grid-template-columns: 6fr 6fr 6fr 1fr;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gap {
  gap: 10px;
}